*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(10, 10, 10);
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
  }

.h1_class {
    font-size: 70px;
    color: rgb(241, 235, 235);
}

.p1_class{
    font-size: 20px;
    color:rgb(241, 235, 235);
}

.ul_class{
    font-size: 20px;
    color: rgb(241, 235, 235);
}

.grad {
    background-image: linear-gradient(to right,rgb(19, 18, 18),rgb(145, 55, 55));
  }

  .tyler{
    border-radius: 50%;
    width: 250px;
    height: 500px;
  
  }